includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
parameters:
    tmpDir: .phpstan.cache
    level: 8
    paths:
        - src
        - tests
